
{% extends "base.html" %}
{%block mainblock%}
{% for i in jobs %}
<div class="card mb-3" class="w-75" style="height: 190px;">
    <div class="row g-0">
      <div class="col-md-4 ">
        {%if i.poster %}
        <img src="{{i.poster.url}}" class="img-fluid rounded-start h-25" alt="...">
        {%endif%}  
    </div>
      <div class="col-md-5">
        <div class="card-body">
            

          <h5 class="card-title">{{i.title}}</h5>
          <h5 class="card-text">{{i.company_name}}</h5>
          <!-- <h5 class="card-title">{{i.experience}}</h5>
          <h5 class="card-title">{{i.salary}}</h5>
          <h5 class="card-title">{{i.qualification}}</h5>
          <h5 class="card-title">{{i.skills}}</h5> -->
          <h5 class="card-text">{{i.category}}</h5>

          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-body">
        <a href="" class="btn btn-primary btn-sm my-2">View</a>
        
        <a href="{url 'Del_job' i.id}" class="btn btn-primary btn-sm my-2">Delete</a>
      
        <a href="{url 'Jobupdate' i.id}" class="btn btn-primary btn-sm my-2">Update</a>
      </div>
    </div>
    </div>
  </div>
{%endfor%}
{%endblock%}



